*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
    color: brown;
}
/* body::before{
    content: '';
    background-image: url(Football_\(soccer_ball\).svg.png);
    opacity: .3;
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
} */
@keyframes SlideInFromLeft{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0%);}
}
@keyframes SlideInFromRight{
    0%{transform: translateX(100%);}
    100%{transform: translateX(0%);}
}
@keyframes SlideInFromBottom{
    0%{transform: translateY(100%);}
    100%{transform: translateX(0%);}
}
.container{
    display: flex;
    flex-direction: column;
    padding: 10vh 10vw;
    align-items: center;    
}
img{
    animation: SlideInFromLeft 1s ease-in;
    width: 150px;
    
}

form{
    animation: SlideInFromRight 1s ease-in-out;
    border: .5px brown solid;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    line-height: 2;
    
}
marquee{
    color: brown;
}
input{
    outline: none;
    border: none;
    border-bottom: .3px brown solid;
    margin: 10px;
    padding: 5px;

}

select{
    padding: 5px;
    margin: 10px;
}
button{
    background-color: brown;
    color: white;
    padding: 5px 10px;
}

footer .container{
    background-color: black;
    color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer img{
    width: 20px;
}
